# Build Outputs
.gradle/
build/
**/build/
target/

# Java / JVM
*.class
*.war
*.ear
hs_err_pid*
.attach_pid*
replay_pid*

# Kotlin
.kotlin/

# Gradle
gradle-app.setting
.gradle-cache
/build/
/android/build/
/core/build/
/lwjgl2/build/
/lwjgl3/build/
/html/build/
/teavm/build/
/ios/build/
/ios-moe/build/
/headless/build/
/server/build/
/shared/build/

# IDEs: IntelliJ IDEA / Android Studio
.idea/
*.iml
*.ipr
*.ips
*.iws

# IDEs: VS Code
.vscode/
!.vscode/launch.json

# IDEs: Eclipse
.classpath
.settings/
.metadata/
.externalToolBuilders/
.loadpath
*.launch
*~.nib

# NetBeans
nbactions.xml
nb-configuration.xml
nbbuild/
nbdist/
dist/
nbproject/private/
**/nbbuild/
**/nbdist/
**/dist/
**/nbproject/private/

# Generated Assets
assets/
!assets/.gitkeep


# OS Files: Windows
Thumbs.db
Desktop.ini

# OS Files: macOS
.DS_Store

# Editor / Temp Files
*.tmp
*.bak
*.swp
*~
*.orig

# Binary Output
**/bin/

# Logs
*.log

# Archive Files
*.zip
*.7z
*.tar.gz

# Java Language Server
.project
.factorypath

# Cached
out/

# Generated Javadocs
docs/javadoc/

#
*.*#
*#*#
**/resource-config.json
/assets/
/core/logs/
